*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 20px;
    height: 80px;
    padding: 20px;
}
.logo{
    text-transform: uppercase;
    float: left;
    font-weight: bold;
}
#amarillo{
    color: yellow;
}
#azul{
    color: blue;
}
#rojo{
    color: red;
}
.logo a{
    text-decoration: none;
    color: white
}
.logo span{
    color: black;
}
.barra{
    float: right;
    text-transform: none;
    font-size: 26px;
}
.barra ul li{
    list-style: none;
    display: inline-block;
}
.barra ul li a{
    text-decoration: none;
    color: white;
}
.barra :hover{
    color:#333;
}
main{
    height: calc(100vh - 80px) ;
    width: 100%;
    background-color: rgb(15, 15, 15);
    background-size: cover;
}
.formularios{
    color: #fff;
    width:60 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid orange;
    margin: 40px;
    padding: 20px;
}
.contacto{
    color: #fff;
    width:60 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid orange;
    margin: 40px;
    padding: 20px;
}
.contacto p{
    font-size: 30px;
}
.email{
    font-size: 30px ;
}
.input-texto{
    font-size: 20px;
}
.input-bottom{
    font-size: 20px;
    color: white;
    background-color: orange;
    border: 5px white;
}
.comentarios{
    font-size: 30px;
}
footer{
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    padding: 20px;
}
footer p{
    margin-bottom: 10px;
}
footer i{
    font-size: 50px;
    letter-spacing: 10px;
    color: #333;
}
