* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(209, 136, 0);
    font-size: 20px;

    & .titulo {
        font-size: 30px;
    }
}

main {
    background-color: rgb(15, 15, 15);
}

.formularios {
    color: #fff;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid orange;
    margin: 30px;
    padding: 20px;
}

.contacto {
    color: #fff;
    height: fit-content;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid orange;
    margin: 30px;
    padding: 20px;
}

.contacto p {
    font-size: 30px;
}

.email {
    font-size: 30px;
}

.input-texto {
    font-size: 20px;
}

.input-bottom {
    font-size: 20px;
    color: white;
    background-color: orange;
    border: 5px white;
}


footer {
    background-color: rgb(209, 136, 0);
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer i {
    font-size: 40px;
    letter-spacing: 10px;
    color: #000;
}

@media only screen and (max-width: 700px) {
    footer {
        font-size: 25px;
    }

    footer p {
        margin-bottom: 3px;
    }

    footer i {
        font-size: 35px;
    }

    .contacto {
        border: 3px solid orange;
    }

    .contacto p {
        font-size: 20px;
    }

    .email {
        font-size: 20px;
    }
    .formularios{
        border:  orange 3px solid;
    }
}